{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ get_url(path="blog-page.css") }}">
{% endblock extra_css %}

{% block content %}
<h1 class="title">
	{{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
<hr>
<div class="card img-center-hori">
	<img src="{{ get_url(path=page.extra.image) }}"
		alt="{{ get_url(path=page.extra.image_alt) }}"
		width="{{ page.extra.image_width }}"
		height="{{ page.extra.image_height }}"
		class="fit">
</div>
<p class="subtitle">
	Photo By
	<a rel="noopener noreferrer" target="_blank" href="{{ page.extra.image_author_url | safe }}">{{ page.extra.image_author }}</a>
	on
	<a rel="noopener noreferrer" target="_blank" href="{{ page.extra.image_source_url | safe }}">{{ page.extra.image_source }}</a>
</p>

{% if page.extra.show_toc %}
	<h2>Table of Contents</h2>
	{% if page.toc %}
		<ul>
		{% for h1 in page.toc %}
			<li>
				<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
				{% if h1.children %}
					<ul>
						{% for h2 in h1.children %}
							<li>
								<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endif %}

{{ page.content | safe }}
{% endblock content %}
