<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> 
		{% if section.title %}
			{{ section.title }}
		{% elif page.title %}
			{{ page.title }}
		{% endif %}
		| MuWare
	</title>

	<link rel="icon" type="image/png" href="{{ get_url(path="favicon.ico?v=2") }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css">
	<link rel="stylesheet" href="{{ get_url(path="base.css") }}">
	<link rel="stylesheet" href="https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css" media="print" onload="this.media='all'">

</head>

<body class="c">

	<nav class="row">
		<div class="card">
			<b class="1 col"><span class="accent">µ</span>W</b>
			<b class="1 col"><a href="/">MuWare</a></b>
			<div class="1 col"><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></div>
			<div class="9 col"></div>
		</div>
	</nav>

	<div class="row">
		<div class="col">
			{% block content %} {% endblock %}
		</div>
	</div>

	<hr>

	<footer class="row">
		<div class="card">
			<div class="col"><a target="_blank" rel="noopener noreferrer" href="https://github.com/Aditeya/">Github</a></div>
			<div class="col"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Aditeya1024">Twitter</a></div>
			<div class="col"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/aditeya1024/">Instagram</a></div>
			<div class="col"><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/user/SuperAditeya/">Youtube</a></div>
		</div>
	</footer>
</body>

</html>
