<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MyBlog</title>

	<link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">

	<link rel="stylesheet" href="https://pvinis.github.io/iosevka-webfont/7.0.2/iosevka.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
	<base target="_blank">
</head>

<body class="c">
	<nav class="row">
		<div class="card">
			<div class="1 col"><a target="_self" href="/">Home</a></div>
			<div class="1 col"><a target="_self" href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></div>
			<div class="10 col"></div>
		</div>
	</nav>
	<div class="row">
		<div class="col">
			{% block content %} {% endblock %}
		</div>
	</div>
</body>

</html>
